.sections{background-color: aliceblue;}
.name{color: darkblue; 
text-align: center;}
.skills{text-align: center;}
ul{list-style-position: inside; text-align: center; padding: 20px;}
.table{background-color: aliceblue;}
.form{background-color: aliceblue;}